:root {
    --white:#f1edee; 
    --blueBack:rgba(0,136,169,1);
    --hovBlue: #0088a9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(77, 87, 97, 0.897);

}
li, a, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: var(--white);
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
}
.steve {
    display: flex;
    justify-content: center;
    border-style: double;
    padding: 5px 5px;
    background-color: var(--blueBack);
}

.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: var(--hovBlue);
}
button {
    padding: 9px 25px;
    background-color:var(--blueBack);
    border: none;
    border-radius:50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0,136,169,0.8);
}
.alignleft {
    display: flex;
    height: 200px;
    width: 200px;
    text-align: right;
    padding-right: 10px;
    font-size: 60px;
    border-right: solid 5px;
    margin-right: 50px;
     flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.desc {
    padding: 15px;
    text-align: center;
}
div.desc:hover {
    color: var(--hovBlue);
}
p {
    color: var(--white);
    padding: 10px;
    margin: 15px;
    font-size: 20px;
}
div img {
    display: flexbox;
    flex-wrap: wrap;
    padding: 5px 5px;
    margin: 25px;
    border-style: groove;
}
.foot-links {
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    color: var(--white)
}
.foot-links li {
    display: inline-block;
    padding: 20px 90px;
}
.foot-links li a {
    transition: all 0.3s ease 0s;
}
.foot-links li a:hover {
    color: var(--hovBlue);
}
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

